<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>controller</title>
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script>
        comands = {}

        function sendComandHold(e,cmd) {
            if (!comands[cmd]) {
                $.ajax({
                    url: '/comand',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                        comands[cmd] = true;
                    },
                    data: JSON.stringify({line: 'hold ' + cmd})
                });
            } else {
                $.ajax({
                    url: '/comand',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                        comands[cmd] = false;
                    },
                    data: JSON.stringify({line: 'release ' + cmd})
                });
            }
        }

        function sendComand(e,cmd) {

            $.ajax({
                url: '/comand',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                },
                data: JSON.stringify({line: cmd})
            });
        }

        function requestAmiibosFromFolder(folderName) {
            $("#amiiboList").empty();
            $.ajax({
                url: '/files',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    for (let i = 0; i < data.length; i++) {
                        $("#amiiboList").append("<button type=\"button\" class=\"btn btn-primary\" onclick='sendComand(this,\"nfc " + data[i] + "\")'>" + data[i] + "</button>");
                    }
                },
                data: JSON.stringify({path: folderName})
            });
        }

        function requestControllers(){
            $("#controllerList").empty();
            $.ajax({
                url: '/controllers',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    for (let i = 0; i < data.length; i++) {
                        let stringControllerDiv = "<div class='d-flex justify-content-between'>";
                        stringControllerDiv +="<a href='/controller/" + data[i].replace('.json','') + "'>" + data[i] + "</a>";
                        stringControllerDiv +="<div>"
                        stringControllerDiv +="<button type=\"button\" class=\"btn btn-danger\" onclick='deleteController(\"" + data[i].replace('.json','') + "\")'>delete</button>";
                        stringControllerDiv +="<button type=\"button\" class=\"btn btn-primary\" onclick='editController(\"" + data[i].replace('.json','') + "\")'>edit</button>";
                        stringControllerDiv +="</div></div>"
                        $("#controllerList").append(stringControllerDiv);
                    }
                }
            });
        }

        function requestScripts(){
            $("#scripList").empty();
            $.ajax({
                url: '/scripts',
                type: 'get',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                    for (let i = 0; i < data.length; i++) {
                        let stringControllerDiv = "<div class='d-flex justify-content-between'>";
                        stringControllerDiv +="<button type=\"button\" style=\"width:100%;\" class=\"btn btn-primary\" onclick='editScript(\"" + data[i].replace('.txt','') + "\")'>edit:"+data[i]+"</button>";
                        stringControllerDiv +="<button type=\"button\" style=\"width:100%;\" class=\"btn btn-danger\" onclick='deleteScript(\"" + data[i].replace('.txt','') + "\")'>delete:"+data[i]+"</button>";
                        stringControllerDiv +="</div>"
                        $("#scripList").append(stringControllerDiv);
                    }
                }
            });
        }

        function fillAmiiboList() {
            let folderName = $("#amiibo").val();
            //amiiboList
            requestAmiibosFromFolder(folderName);
        }

        function uploadAmiibo(){

            var formData = new FormData();
            formData.append('file', $('#amiibofile')[0].files[0]); // Obtén el archivo seleccionado
            
            // Realiza la solicitud AJAX
            $.ajax({
                url: '/upload', // Ruta del servidor donde procesarás la carga del archivo
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    // Maneja la respuesta del servidor
                    console.log(response); // Aquí puedes imprimir la respuesta en la consola del navegador
                    let folderName = $("#amiibo").val();
                    //amiiboList
                    requestAmiibosFromFolder(folderName);
                    
                    // Dependiendo de la respuesta, puedes realizar acciones específicas en el cliente
                    // Por ejemplo, mostrar un mensaje de éxito o error al usuario, redirigirlo a otra página, etc.
                },
                error: function(xhr, status, error) {
                    // Maneja los errores de la solicitud AJAX
                    console.error(error);
                }
            });
        }

        function Connection(e) {
            $.get("/connected", function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
                if (data.connected) {
                    $.get("/disconnect", function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                    });
                } else {
                    $.get("/connect", function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status);
                    });
                }
            });
        }

        function showAmiiboMenu() {
            $("#controller").hide();
            $("#scriptlister").hide();
            $("#amiboolister").show();
        }

        function showController() {
            $("#amiboolister").hide();
            $("#scriptlister").hide();
            $("#controller").show();
        }

        function showScripts(){
            $("#amiboolister").hide();
            $("#controller").hide();
            $("#scriptlister").show();
        }

        $(document).ready(function () {
            showController();
            if("{{amiiboFolder}}"!=""){
                requestAmiibosFromFolder("{{amiiboFolder}}");
            }
            requestControllers();
            requestScripts();
        });

        function isJsonString(str) {
            try {
                JSON.parse(str);
            } catch (e) {
                return false;
            }
            return true;
        }

        function isEmptyOrSpaces(str){
            return str === null || str.match(/^ *$/) !== null;
        }

        function checkControllerJsonValid() {
            const val = $("#jsonBodyController").val();
            //submitController
            if(isJsonString(val)){
                const val2 = $("#filenameController").val();
                if(isEmptyOrSpaces(val2)){
                     $('#submitController').prop('disabled', true);
                     $('#positionController').prop('disabled', true);
                }
                else {
                    $('#submitController').prop('disabled', false);
                     $('#positionController').prop('disabled', false);
                }
            }else {
                $('#submitController').prop('disabled', true);
                $('#positionController').prop('disabled', true);
            }
        }

        function checkControllerScriptValid(){
            const val = $("#filenameControllerScript").val();
            //submitController
            if(!isEmptyOrSpaces(val)){
                const val2 = $("#txtBodyControllerScript").val();
                if(isEmptyOrSpaces(val2)){
                     $('#submitScript').prop('disabled', true);
                     $('#submitAndRun').prop('disabled', true);
                }
                else {
                    $('#submitScript').prop('disabled', false);
                    $('#submitAndRun').prop('disabled', false);
                }
            }else {
                $('#submitScript').prop('disabled', true);
                $('#submitAndRun').prop('disabled', true);
            }
        }

        function editController(controllerName){
            $.ajax({
                    url: '/controllers/'+controllerName,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        $("#jsonBodyController").val(JSON.stringify(data.jsonFile,null, 3));
                        $("#filenameController").val(data.controllerName);
                        $('#exampleModal').modal('toggle');
                        checkControllerJsonValid();
                    }
                });
        }

        function deleteController(controllerName){
            $.ajax({
                    url: '/delete_controller/'+controllerName,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        requestControllers();
                    }
                });
        }

        function editScript(controllerName){
            $.ajax({
                    url: '/scripts/'+controllerName,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        $("#txtBodyControllerScript").val(data.jsonFile);
                        $("#filenameControllerScript").val(data.controllerName);
                        $('#exampleModalScript').modal('toggle');
                        checkControllerScriptValid();
                    }
                });
        }

        function deleteScript(controllerName){
            $.ajax({
                    url: '/delete_script/'+controllerName,
                    type: 'get',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        requestScripts();
                    }
                });
        }

        function cleanControllerForm(){
            $("#jsonBodyController").val("");
            $("#filenameController").val("");
        }

        function cleanScriptsForm(){
            $("#txtBodyControllerScript").val("");
            $("#filenameControllerScript").val("");
        }

        function showCurrentScriptForm(){
            $("#txtBodyControllerScript").val("");
            $("#filenameControllerScript").val("");
            $.ajax({
                    url: '/last-actions',
                    type: 'get',
                    contentType: 'application/json',
                    success: function (data, status) {
                        $("#txtBodyControllerScript").val(data.message);
                        $("#filenameControllerScript").val("");
                    }
                });

        }
        
        function cleanCurrentScriptForm(){
            const comandDelay = $("#comandDelay").val();
            const maxComandLines = $("#maxComandLines").val();
            $.ajax({
                    url: '/reset-actions',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        
                    },
                    data: JSON.stringify({maxComandLines: maxComandLines, comandDelay: comandDelay})
                });
        }

        function positionObjects(){
            const bodyVal = $("#jsonBodyController").val();
            const filenameVal = $("#filenameController").val();
            $.ajax({
                    url: '/controllers',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
	                    window.location.href = '/position_objects/'+filenameVal;
                    },
                    data: JSON.stringify({json: JSON.parse(bodyVal), filename: filenameVal+".json"})
                });
        }

        function updateJsonController(){
            const bodyVal = $("#jsonBodyController").val();
            const filenameVal = $("#filenameController").val();
            $.ajax({
                    url: '/controllers',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        requestControllers();
                        $('#exampleModal').modal('toggle');
                    },
                    data: JSON.stringify({json: JSON.parse(bodyVal), filename: filenameVal+".json"})
                });
        }

        function updateScript(){
            const bodyVal = $("#txtBodyControllerScript").val();
            const filenameVal = $("#filenameControllerScript").val();
            $.ajax({
                    url: '/scripts',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        requestScripts();
                        $('#exampleModalScript').modal('toggle');
                    },
                    data: JSON.stringify({data: bodyVal, filename: filenameVal+".txt"})
                });
        }

        function submitAndRun(){

            const bodyVal = $("#txtBodyControllerScript").val();
            const filenameVal = $("#filenameControllerScript").val();
            const repetitions = $("#repetitions").val();
            
            $.ajax({
                    url: '/scripts',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (data, status) {
                        $.ajax({
                            url: '/execute_script',
                            type: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            complete: function (data, status) {
                                console.log("Data: " + data + "\nStatus: " + status);
                            },
                            data: JSON.stringify({script: "rjctScripts/"+filenameVal+".txt", nfc:"", repeats: repetitions})
                        });
                    },
                    data: JSON.stringify({data: bodyVal, filename: filenameVal+".txt"})
                });
        }

        function killScript(){
            $.get("/kill_script", function (data, status) {
                console.log("Data: " + data + "\nStatus: " + status);
            });
        }
    </script>

</head>
<body>
<div style="width: 100%">
    <div class="d-flex justify-content-between">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" onclick="showController()">controller</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showAmiiboMenu()">amiibos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="showScripts()">scripts</a>
            </li>
        </ul>
        <ul class="nav">
            <li>
                <button type="button" class="btn btn-danger" onclick="Connection(this)">on</button>
            </li>
        </ul>
    </div>
    <div id="controller">
        <div class="d-flex justify-content-between">
            <div>Controllers</div>
            <button type="button" class="btn btn-primary" onclick="requestControllers()">reload</button>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onClick="cleanControllerForm()">
                Create controller
            </button>
        </div>
        <div id="controllerList" class="d-flex flex-column justify-content-around">
        </div>
    </div>
    <div id="amiboolister">
        <div class="form-group">
            <label for="amiibo">AmiiboFolder</label>
            <input type="text" class="amiibo" id="amiibo" aria-describedby="amiibot"
                   placeholder="Enter amiibo folder" value="{{amiiboFolder}}">
            <small id="amiibot" class="form-text text-muted">Folder where amiibos are found</small>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="fillAmiiboList()">Folder content</button>
        </div>
        <div class="form-group">
            <label for="amiibofile">Amiibo File</label>
            <input type="file" name="amiibofile" id="amiibofile">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" onclick="uploadAmiibo()">Upload amiibo</button>
        </div>
        <div id="amiiboList" class="d-flex flex-column justify-content-around">
        </div>
    </div>
    <div id="scriptlister">
        <div class="d-flex justify-content-between">
            <div>Scripts</div>
            <button type="button" class="btn btn-primary" onclick="requestScripts()">reload</button>
            <!-- Button trigger modal -->
            <div class="d-flex flex-column justify-content-around">
                <div class="form-outline">
                    <input type="number" id="maxComandLines" class="form-control" value="{{maxComandLines}}" />
                    <label class="form-label" for="maxComandLines">max stored comands</label>
                </div>
                <div class="form-outline">
                    <input type="number" id="comandDelay" class="form-control" value="{{comandDelay}}" />
                    <label class="form-label" for="comandDelay">comand delay</label>
                </div>
                <button type="button" class="btn btn-primary" onclick="cleanCurrentScriptForm()">
                    clean current
                </button>
            </div>
            <div class="d-flex flex-column justify-content-around">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScript" onclick="showCurrentScriptForm()">
                    Current script
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScript" onclick="cleanScriptsForm()">
                    Create script
                </button>
            </div>
        </div>
        <div id="scripList" class="d-flex flex-column justify-content-around">
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Controller config</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="filenameController">File name</label>
                <input type="email" class="form-control" id="filenameController" onchange="checkControllerJsonValid()" placeholder="Enter filename">
            </div>
            <div class="form-group">
                <label for="jsonBodyController">Json config</label>
                <textarea class="form-control" id="jsonBodyController" rows="15" onchange="checkControllerJsonValid()"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="positionController"  data-dismiss="modal" disabled onclick="positionObjects()">positionate</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submitController" disabled onclick="updateJsonController()">Create</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal2 -->
<div class="modal fade" id="exampleModalScript" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelScript" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelScript">Script config</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="filenameControllerScript">File name</label>
                <input type="email" class="form-control" id="filenameControllerScript" onchange="checkControllerScriptValid()" placeholder="Enter filename">
            </div>
            <div class="form-group">
                <label for="txtBodyControllerScript">Json config</label>
                <textarea class="form-control" id="txtBodyControllerScript" rows="15" onchange="checkControllerScriptValid()"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="killScript()">Close</button>
          <div class="form-outline">
            <input type="number" id="repetitions" class="form-control" value="1" />
            <label class="form-label" for="repetitions">repetitions</label>
          </div>
          <button type="button" class="btn btn-primary" id="submitAndRun" disabled onclick="submitAndRun()">run</button>
          <button type="button" class="btn btn-primary" id="submitScript" disabled onclick="updateScript()">Create</button>
        </div>
      </div>
    </div>
  </div>
<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>